.Header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  background-color: red;
}

.Header-logo {
  width: 10%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
  cursor: pointer;
}

.Header-button {
  width: 10%;
  height: auto;
  cursor: pointer;
  margin: 10px 40px 10px 0px;
  border-radius: 10px;
  outline: none;
  background-color: none;
}

.Header-button:hover {
  background-color: rgba(0, 0, 108, 0.806);
  color: white;
}
